@import "tailwindcss";

@theme {
  --color-encabezado: #e5bb0f;

  --color-objetoA-100: #05d21e;
  --color-objetoA-090: #1ed735;
  --color-objetoA-080: #37db4b;
  --color-objetoA-070: #50e062;
  --color-objetoA-060: #69e478;
  --color-objetoA-050: #82e98f;
  --color-objetoA-030: #9beda5;
  --color-objetoA-020: #b4f2bc;
  --color-objetoA-010: #cdf6d2;

  --color-objetoB-100: #d21e05;
  --color-objetoB-090: #d7351e;
  --color-objetoB-080: #db4b37;
  --color-objetoB-070: #e06250;
  --color-objetoB-060: #e47869;
  --color-objetoB-050: #e98f82;
  --color-objetoB-040: #eda59b;
  --color-objetoB-030: #f2bcb4;
  --color-objetoB-020: #f6d2cd;
  --color-objetoB-010: #fbe9e6;

  --color-fondo-030: #5087e0;
  --color-fondo-050: #82a9e9;
  --color-fondo-060: #9bbaed;

  --color-fondo-100: #0553d2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.1;
}

.moneda::before {
  content: "$U ";
}

/* 

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
